.navsearch_div {
	position: relative;
	display: inline;
	width: auto;
	height: 30px;
}

.navsearch_div_icon1, .navsearch_div_icon2{
	position: absolute;
	right: 7px;
	top: 4px;
	color: white !important;
}

.right {
	display: flex;
	float: right;
	align-items: center;
}

.left {
	display: flex;
	float: left;
	align-items: center;	
}

.navbar_div {
	position: fixed;
	height: 50px;
	padding: 5px 10px;
	align-items: center;
	width: 100vw;
	z-index: 1111;
}

.nav_btn {
	background-color: rgba(0,0,0,0.3);
	border: none;
	height: 35px;
	margin: 3px;
	color: white;
	min-width: 35px;
	border-radius: 3px;
}

.circle {
	border-radius: 50%;
}

.nav_btn:hover {
	background-color: rgba(0,0,0,0.6);
	border: none;
	height: 35px;
	margin: 3px;
}

.navsearch {
	background-color: hsla(0,0%,100%,.3);
    border-radius: 3px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: hsla(0,0%,100%,.5);
    float: left;
    font-size: 13px;
    height: 32px;
    line-height: 19px;
    margin: 0;
    outline: none;
    padding-left: 8px;
    padding-right: 30px;
    transition: width .15s;
    width: 180px;
}

.navsearch:focus {
	background-color: rgba(255,255,255,0.6);
	color: black;
	padding-left: 8px;
	padding-right: 50px;
	transition: width .15s;
	width: 250px;
}

.trelloimg_dashboard {
	cursor: pointer;
	position: absolute;
	left: 50vw;
	top: 0;
	width: 100px;
	height: 50px;
	margin: 0;
	transform: translateX(-50px);
}

.none_btn {
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 18px;
	font-weight: bolder;
}

.boardbody_div {
	display: flex;
	align-self: center;
}

.list {
	height: 35px;
	width: 200px;
	font-size: 16px;
	font-weight: bolder;
	padding: 7px 18px;
	border-radius: 5px;

}

.list:hover {
	background-color: #e4f0f6;
	columns: #0079bf;
	cursor: pointer;
}

.dashboard_sub_title {
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
}

.create_board_div {
	position: relative;
	width: 180px;
	height: 100px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	margin: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	font-weight: bolder;
	cursor: pointer;
}

.create_board_div:hover {
	background-color: rgba(0,0,0,0.25);
}

.board_back_div {
	position: relative;
	width: 180px;
	height: 100px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
}

.board_back_div:hover {
	opacity: 0.6;
	transition: 0.2s;
}

.board_div:hover .board_star{
	right: 20px;
	transition: 0.2s;
	z-index: 5;
}

.board_div {
	position: relative;
	overflow: hidden;
}

.board_star {
	position: absolute;
	bottom: 15px;
	right: -20px;
	color: grey;
	font-weight: bolder;
	z-index: 10;
}

.fontgrey {
	color: grey !important;
}

.board_star_show {
	position: absolute;
	bottom: 15px;
	right: 20px;
	font-weight: bolder;
	z-index: 10;
	cursor: pointer;
}

.board_star:hover {
	cursor: pointer;
	transform: scale(1.2);
} 

.board_title {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
}

.temp_div {
	height: 280px;
	width: 250px;
	position: relative;
}

.temp_img_div {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 240px;
	height: 150px;
	border-radius: 5px;
}

.temp_img_div:hover {
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
	transition: 0.4s;
}

.temp_text {
	position: absolute;
	top: 170px;
	left: 5px;
	width: 240px;
	height: 110px;
	font-size: 13px;
	overflow: hidden;
}

.temp_text h6 {
	font-weight: bolder;
}

.temp_avatar {
	position: absolute;
	top: 120px;
	left: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
}

.board_modal_input {
	width: 230px;
	height: 30px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: rgba(255,255,255,0.3);
	padding-left: 10px;
}

.board_modal_input:focus {
	background-color: rgba(255,255,255,0.7);
}

.modal_select {
	display: block;
	background-color: rgba(255,255,255,0.1);
	width: auto;
	height: 35px;
	margin: 10px;
	padding: 5px 15px;
	color: white;
	font-weight: bolder;
	font-size: 15px;
}

.modal_select option {
	background-color: white;
	font-weight: bolder;
	color: black;
	font-weight: normal;
	font-size: 15px;
}

.create_board_btn {
	margin: 10px;
	background-color: #5aac44;
	width: auto;
	height: 40px;
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
	padding: 5px 20px 5px 20px;
	transition: .1s;
}

.create_board_btn:hover {
	background-color: #77c562e6;
}

.create_board_btn:disabled {
	background-color: #ecf1ec;
	color: grey;
	cursor: not-allowed !important;
}

.groupTitle {
	width: 350px;
	height: 40px;
	border: 2px solid grey;
	border-radius: 3px;
	padding-left: 10px;
}

.groupTitle:focus {
	border: 2px solid #206ef3;
}

.groupDesc {
	width: 350px;
	height: 200px;
	border: 2px solid grey;
	border-radius: 3px;
	padding-left: 10px;
}

.groupDesc:focus {
	border: 2px solid #206ef3;
	outline: none;
}

.groupContinue {
	background-color: #49852e;
	width: 300px;
	text-align: center;
	height: 40px;
	color: white;
	border-radius: 5px;
	border: none;
}

.groupContinue:disabled {
	background-color: grey;
	width: 300px;
	text-align: center;
	height: 40px;
	color: white;
	border-radius: 5px;
	border: none;
}

.createGroupImg {
	width: 330px;
	height: 330px;
}

.groupImgDiv {
	background-size: "cover";
	background-image: url("https://a.trellocdn.com/prgb/dist/images/create-team/wavy-border.1ea9c6f8c41d10be0e12.svg");
	position: "relative";
	text-align: "center";
}

.home_list_div-img {
	background-color: #fdf4e7;
    background-image: url("https://a.trellocdn.com/prgb/dist/images/home/orientation/no-content.e25c676458c1f4cb280b.svg");
    height: 130px;
    width: 430px;
    background-size: cover;
}

.home_list {
	display: flex;
	align-items: center;
}

.home_list_div {
	background-color: white;
	height: 260px;
	width: 430px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
	border-radius: 3px;
	margin: 20px;
}

.home_list_div-text {
	text-align: center;
	padding: 10px;
}

.home_list_link {
	margin-left: 50px;
}

.create_board_div--bar {
	width: 200px;
	height: 40px;
	padding: 7px 18px;
	border-radius: 5px;
	cursor: pointer;
	color: grey;
}

.create_board_div--bar:hover {
	background-color: rgba(9,30,66,.13);
}

.createboard-btn {
	background-color: rgba(9,30,66,.18);
	padding: 5px;
	border-radius: 3px;
}

.create_board_dropdown-text {
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.create_dropdown {
	height: 25px;
	padding: 0 20px !important;
}

.start_temp_a {
	color: white;
	font-weight: bolder;
	display: flex;
	text-align: center;
}

	
.start_temp_a:hover {
	color: white;
}

.modal-content {
	background-color: rgba(0,0,0,0);
	box-shadow: none !important;
}

.modal_input_info {
	padding: 10px;
	border-radius: 5px;
}

.cross_btn {
	background-color: rgba(0,0,0,0);
	color: white;
	border: none;
	float: right;
}

.modal_image_gallery {
	position: relative;
	width: 40px;
	height: 40px;
	background-size: cover;
	border-radius: 5px;
	cursor: pointer;
}

.modal_image_gallery-icon {
	position: absolute;
	left: 14px;
	top: 10px;
	font-size: 13px;
	z-index: 99;
	color: white;
}

.btn_pink {
	background-color: #d397eaba !important;
	color: #955bab !important;
}

.btn_pink:hover {
	opacity: 0.7;
}

.sideboard_div {
	position: absolute;
	top: 50px;
	left: 0;
	height: auto;
	width: 300px;
	padding: 15px;
	background-color: white;
	z-index: 100;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-weight: bolder;
	max-height: 80vh;
	overflow: auto;
}

.sideboard_div > div {
	display: block;
	text-align: justify;
	margin: 5px;
}

.sidepanel_func_div {
	font-size: 15px;
	text-align: left;
	height: 30px;
	text-decoration: underline;
	padding-left: 15px;
	padding-top: 3px;
	border-radius: 5px;
}

.sidepanel_func_div:hover {
	background-color: rgba(9,30,66,.08);
	cursor: pointer;
}

.sidepanel_search {
	border-radius: 5px;
	border: 2px solid grey;
	padding: 3px 10px;
	width: 100%;
	margin: 5px 0px;
}

.sidepanel_search:focus {
	border: 2px solid blue;
}

.sidepanel_btn {
	background-color: rgba(9,30,66,.08);
	border-radius: 4px;
	border: none;
	float: right;
}

.panel_board_back_div {
	position: relative;
	width: 250px;
	height: 45px;
	border-radius: 3px;
	margin: 3px;
	overflow: hidden;
	opacity: 0.5;
	background-color: rgba(0,0,0,0.1);
}

.panel_board_back_div:hover {
	opacity: 1;
	transition: 0.2s;
}

.panel_board_title {
	position: absolute;
	top: 12px;
	left: 60px;
	font-size: 15px;
	font-weight: bolder;
	color: black;
}

.right_panel_div {
	position: absolute;
	top: 50px;
	right: 3px;
	height: auto;
	width: auto;
	padding: 10px 5px;
	background-color: white;
	z-index: 100;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-weight: bolder;
	max-height: 80vh;
	overflow: auto;
}

.right_panel_div h6 {
	text-align: center;
}

.right_panel_div ul {
	margin: auto;
	padding: 0;
}


.create_board_div--rightpanel {
	width: 300px;
	cursor: pointer;
	padding: 3px 10px 3px 10px;
}

.create_board_div--rightpanel:hover {
	background-color: #e4f0f6;
}

.create_board_div--rightpanel p {
	color: grey;
	font-size: 12px;
	padding: 0 5px 0 5px;
}

.create_board_div--rightpanel span {
	color: grey;
	font-size: 14px;
}

.rightCloseBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white;
	border: none;
	outline: none;
}

.infoSidePanel_div {
	width: 350px;
	height: 300px;
	text-align: center;
}

.infoSidePanel_div:hover {
	background-color: #e4f0f6;
}

.infoSidePanel_div img {
	width: 100%;
	height: 230px;
}

.infoSidePanel_div h5 {
	width: 100%;
	font-weight: bold;
	padding-top: 10px;

}

hr {
	margin: 5px;
}

.rightPanel_tip {
	width: 350px;
	height: 40px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	padding-top: 8px;
}

.rightPanel_tip:hover {
	background-color: #e4f0f6;
	border-radius: 5px;
	cursor: pointer;
}

.account_div {
	width: 350px;
	height: 35px;
	padding-top: 5px;
	padding-left: 15px;
}

.account_div:hover {
	background-color: #e4f0f6;
	border-radius: 5px;
	cursor: pointer;
}